ol{
  background:blue;
  margin:50px; 
  padding:50px;
}
#Ali{color:orange;
margin:50px;
padding:50px;
font-size:30px;
background:purple;}

#Pual{color:violet;
  margin:50px;
  padding:50px;
  font-size:30px;
  background:yellow;}

#Dodi{color:brown;
margin:50px;
padding:50px;
font-size:30px;
background:indigo;}

#Alwan{color:green;
margin:50px;
padding:50px;
font-size:30px;
background:pink;}

#Aboud{color:red;
margin:50px;
padding:50px;
font-size:30px;
background:orange;}